body{
	background: #f1f1f1!important;
}


#heading{
	margin-top: 6vh;
	margin-left: 20vw;
}
.writer-label{
	margin-left: 60vw;
}
#inner{
	background: white;
}

hr #first-line{
	margin-bottom: 0;
}
#second-line{

}

.head-text{
	margin-left: 2vw;
}

.sub-btns{
	display: inline-block;
}
#title-text{
	color: #0789a3;
	font-weight: bold;
	width: 40vw;
}
#notice-title{
	text-align: center;
	color: #0789a3;
	font-weight: bold;
}

#content{
	margin-left: 2vw;
}
#comment-area{
	margin-left: 3vw;
}
.comment-input{
	margin-left: 3vw;
}

