@CHARSET "UTF-8";

#nav-bar {
	height: 5vh;
}

#logo {
	width: 8vw;
	margin-top: -2vh;
}


#toggle-btn{
	margin-top: 2vh;
	border-color: transparent;
	background-color: transparent;
}

/* li:hover{
	background: #004157;
	color: white;
} */
.fill li a, .fill li a:after, .fill li a:before {
	transition: all .5s;
}

/* nav ul li a:hover {
	color: #004157;
} */

.fill li a {
	position:relative;
  z-index: 1;
}

.fill ul li{
	margin-top: 0;
}

.fill li a:after {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	width: 100%;
	height: 1px;
	content: '.';
	color: transparent;
	background: #4dbbbf;
	visibility: none;
	opacity: 0;
	z-index: -1;
}
/* span:hover{
	color: white;
}
p:hover{
	color: white;
}
 */
.fill li a:hover:after {
	opacity: 1;
	visibility: visible;
	height: 100%;
}

.fill li a {
	transition: all 1.5s;
}

.black {
	color: black;
	margin: 0 0;
}

.main {
	color: #004157;
}

.main-back {
	background: #004157;
}

.main-back:hover {
	background: #165773;
}

.main-back:active {
	background: #165773;
}

.sub {
	color: #0789a3;
}

.lightest {
	color: #4dbbbf;
}

.darkest {
	color: #001429;
}

.bold {
	font-weight: bold;
}

.bg-white {
	background: white;
}

.height40 {
	height: 40px;
	line-height: 40px;
}

.paddinghor10 {
	padding-top: 10px;
	padding-bottom: 10px;
}
<!--header -->
#inbox{
	font-size: 2rem;
}
#admin-dmenu{
	font-weight: bold;
	color: black;
}

<!--modal -->


@media screen and (max-width: 768px) {   
#logo{
	width: 24vw;
}
}