@CHARSET "UTF-8";

body{
	background: #f4f4f4;
}

#title{
	cursor: pointer;
	color: #0789a3;
	font-size: 2rem;
}
.category-tab{
	margin: 3vw;
	
}
.fileboxes {
	width: 80vw;
	text-align: center;
	margin: 3vw;
}

.filebox {
	width: 15vw;
	height: 32vh;
	background: #fff;
	border-radius: 2px;
	display: inline-block;
	position: relative;
	text-align: center;
	background: aliceblue;
	float: left;
	margin: 3vh 3vh;
	border-radius: 10px 0 0 0;
	padding: 1vh 1vh;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.filebox:hover {
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px
		rgba(0, 0, 0, 0.23);
}

#filename{
	font-weight: bold;
}
#download {
	background: #004157;
	color: white;
	border: 0;
	outline: 0;
	padding: 1px 1px;
	width: 6vw;
	height: 4vh;
}


#plus-img{
	width: 7vw;
	margin-top: 4vh;
	margin-bottom: 2vh;
}
#name-area{
	width: 21vw;
    height: 5vh;
    margin-top: 5vh;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.42857143;
    color: #555;
      background-color: #fff;  
      background-image: none;  
      border: 1px solid #ccc;   
      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);  
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075);  
      -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;  
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
      transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;  
}

#search-area{
	margin-left: 40vw;
}
#search-input{
	height: 4vh;
    border: 1px solid silver;
}
#search-btn{
 	display: inline-block;
	background: #001429;
	color: white;
	width: 4vw;
	height: 4vh;
	border: 0;
	outline: 0;
}
*{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
	box-sizing: border-box;
}

<!---카테고리 설정 --->
*:before,
*:after{
	box-sizing: border-box;	
}
html,body{
	min-height: 100%;
}
body{
  user-select: none;
}

.settings-area{
	margin-left: 5vw;
}

.header{
	width: 100%;
	height: 50px;
	border-radius: 10px 10px 0 0px;
	font: bold 18px/50px arial;
	text-align: center;
	color: white;
	
}
#clist{
	display: block;
	width: 100%;
	height: 90%;
}
.wrap-list{
	height: 85%;
	padding: 20px 0px;
	border-radius: 0 0 10px 10px;
}

input[type="checkbox"]{
  position: relative;
  top: 14px;
  right: 12px;
  float: right;
}

.list{
	list-style: none;
	color: rgba(0,0,0,.7);
}
.list li:nth-child(odd){
	background: rgba(0,0,50,.1);
}
.list li{
	width: 25vw;
}
.edit-input{
	margin: 1vh !important;
	margin-left: 3vw !important;
	margin-right: 5vw !important;
	height: 5vh;
	width: 7vw;
	font-size: 1.6rem;
	
}
input{
	background: transparent;
}
input:hover{
	background: white;
	border-color: #4dbbbf ;
  	outline: 0;
  	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
label{
  padding: 10px;
	cursor: pointer;
	float: left;
	width: 95%;
	transition: all .3s ease;
}
/* button */
.c-btn{
 	display: inline-block;
	color: #001429;
	background: transparent;
	font-size: 1.8rem;
	top: 0;
	left: 0;
	width: 4vw;
	height: 5vh;
	border: 0;
	outline: 0;
	margin-top: 1vh;
	margin-bottom: 1vh;
 }
.add-btn{
 	display: inline-block;
	color: white ;
	background: #001429;
	font-size: 1.8rem;
	top: 0;
	left: 0;
	width: 5vh;
	height: 5vh;
	border: 0;
	outline: 0;
	margin-top: 1vh;
	margin-bottom: 1vh;
 
 }




/* 
#pagination{
	width: 80vh;
	text-align: center;
	
} */