@CHARSET "UTF-8";

#nav_ul {
	list-style: none;
	padding-left: 0;
}

#nav_text {
	color: white;
	font-weight: bold;
}

#nav_li {
	text-align: center;
	margin-top: 30px;
}

#nav_menu {
	background-color: #004157;
	position: relative;
	font-size: 15pt;
	float: left;
	left: 0%;
	top: 0px;;
	text-align: center;
	height: 87vh;
	padding-top: 0px;
}

/* footer */

.text-center{
	margin-top: 100vh;
}
footer {
  color: white;
}
footer h3 {
  margin-bottom: 30px;
}
footer .footer-above {
  padding-top: 25px;
  background-color: #2C3E50;
}
footer .footer-col {
  margin-bottom: 5px;
}
footer .footer-below {
  padding: 8px 0;
  background-color: #233140;
}

