@CHARSET "UTF-8";

*{
	margin: 0 0;
	padding: 0 0;
	
}
#navbar{
	background: transparent;
}
.formgroup{
	height: 40px;
}
#main-area{
	background: url("../images/bg1.jpg") no-repeat;
	height: 92vh;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#signup-area{
	background-color: black;
	width: 30vw;
	height: 40vh;
	padding: 1.5vh 2vw;
	opacity: 0.8;
	margin-top: 14vh;
	margin-left: 12vw;
	border: 2px white solid;
}

#signup-area:hover{
	opacity: 1;
	border-color: #c0c0c0;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
#signup-text{
	color: white;
} 
#sep{
	line-height: 40px; 
	text-align: center;
	color: white;
}

#fb-btn{
	border: 1px solid #337AB7; color: #337AB7;
}
/**
 * Typing animation
 */

@keyframes typing {
	from { width: 0 }
}

@keyframes caret {
	50% { border-right-color: transparent; }
}

#promo-text {
	font-weight: bold;
	color: white;
	/*width: 8.25em;*/
	width: 39vw;
	white-space: nowrap;
	overflow: hidden;
	border-right: .05em solid;
	animation: typing 2s steps(24),
	           caret 1s steps(1) infinite;
}
#signup-text{
	font-weight: bold;
}

#first-img{
	width: 25vw;
	margin-top: 10vh;
}
#menudown{
	width: 50px;
    height: 50px;
    padding: 6px 0px;
    border-radius: 25px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
  	opacity: 0.4;
  	margin-left: 48vw;
  	margin-top: 17vh;
}

#group1{
	margin-top: 7vh;
}
#b-text{
	margin-left: 5vw;
}

.content-section-a, .content-section-b{
	padding: 70px 0;
}
.section-heading{
	font-weight: bold;
}
section.success {
  background: ##fd999a;
  color: #333;
}

header .container {
  padding-top: 100px;
  padding-bottom: 50px;
}
.floating-label-form-group {
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #eeeeee;
}
.floating-label-form-group input,
.floating-label-form-group textarea {
  z-index: 1;
  position: relative;
  padding-right: 0;
  padding-left: 0;
  border: none;
  border-radius: 0;
  font-size: 1.5em;
  background: none;
  box-shadow: none !important;
  resize: none;
}
.floating-label-form-group label {
  display: block;
  z-index: 0;
  position: relative;
  top: 2em;
  margin: 0;
  font-size: 0.85em;
  line-height: 1.764705882em;
  vertical-align: middle;
  vertical-align: baseline;
  opacity: 0;
  -webkit-transition: top 0.3s ease,opacity 0.3s ease;
  -moz-transition: top 0.3s ease,opacity 0.3s ease;
  -ms-transition: top 0.3s ease,opacity 0.3s ease;
  transition: top 0.3s ease,opacity 0.3s ease;
}
.floating-label-form-group:not(:first-child) {
  padding-left: 14px;
  border-left: 1px solid #eeeeee;
}
.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1;
}
.floating-label-form-group-with-focus label {
  color: ##fd999a;
}
@media (max-width: 767px) {
  section {
    padding: 75px 0;
  }
  section.first {
    padding-top: 75px;
  }
}